@using Movies.Web.Models.Actors

@model ActorViewModel

<h2>Added actor (partial view)</h2>

<div class="well">
    @this.Html.LabelFor(m => m.Id)
    @this.Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = "readonly" })
    <br />

    @this.Html.LabelFor(m => m.FirstName)
    @this.Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @readonly = "readonly" })
    <br />

    @this.Html.LabelFor(m => m.LastName)
    @this.Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @readonly = "readonly" })
    <br />

    @this.Html.LabelFor(m => m.Age)
    @this.Html.TextBoxFor(m => m.Age, new { @class = "form-control", @readonly = "readonly" })
    <br />

    @this.Html.LabelFor(m => m.Gender)
    @this.Html.TextBoxFor(m => m.Gender, new { @class = "form-control", @readonly = "readonly" })
</div>
